@import "../_variables.scss";

.small-button {
  text-decoration: none;
  font-size: 1.9rem;
  background-color: var(--color-secondary-dark);
  padding: 1.2rem 3rem;
  border: none;
  color: var(--color-white);
  border-radius: 0.3rem;
  transition: all 0.3s;
  font-weight: 400;
  &:hover {
    background-color: var(--color-secondary-light);
    cursor: pointer;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.7rem;
  }
}
