<div class="navbar">
  <div class="navbar__top">
    <img src="/./assets/spacewizards.jpg" class="navbar__image" />
    <div>
      <h4 class="navbar__h4">
        Rick <span class="navbar__h4--script">van der Eijk</span>, Author
      </h4>
    </div>
  </div>
  <ul class="navbar__bottom">
    <li><a class="navbar__item" href="homepage/#books">Books</a></li>
    <li><a class="navbar__item" href="homepage/#cards">About</a></li>
    <li><a class="navbar__item" href="homepage/#form">Free e-Book</a></li>
    <span class="navbar__icon material-icons"> facebook </span>
  </ul>
</div>
