@import "../_variables.scss";

.navbar {
  position: absolute;
  display: grid;
  grid-template-rows: 12rem 6rem;
  grid-template-columns: 100%;
  width: 100%;
  z-index: 100;

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 10rem;
  }

  &__top {
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding-left: 15rem;
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    width: 100%;
    list-style: none;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__image {
    height: 90%;
    padding-right: 4rem;
  }

  &__h4 {
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;

    &--script {
      color: var(--color-secondary-light);
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__item {
    text-transform: uppercase;
    font-family: "Fuji Regular";
    font-size: 1.8rem;
    color: var(--color-white);
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: var(--color-secondary-light);
    }
  }
  &__icon {
    font-size: 2.2rem;
    color: var(--color-white);
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      color: var(--color-secondary-light);
    }
  }
}
