@import "_variables.scss";

.thank-you {
  height: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/./assets/background2.jpg"),
    linear-gradient(to bottom, var(--color-black), (--color-primary-dark));
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: 50% 50%;
}

.section-footer {
  background-color: var(--color-black);
  height: 40vh;
}
